/Hron-thesis-2009.aux
/Hron-thesis-2009.dvi
/Hron-thesis-2009.lof
/Hron-thesis-2009.log
/Hron-thesis-2009.lot
/Hron-thesis-2009.out
/Hron-thesis-2009.pdf
/Hron-thesis-2009.synctex.gz
/Hron-thesis-2009.toc
